<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.epam.goldeneye">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="com.google.android.things.permission.MANAGE_BLUETOOTH"/>

    <uses-permission android:name="com.google.android.things.permission.MANAGE_SENSOR_DRIVERS"/>
    <uses-permission android:name="com.google.android.things.permission.MANAGE_INPUT_DRIVERS"/>
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:hardwareAccelerated="true"
        tools:overrideLibrary="org.opencv">
        <uses-library android:name="com.google.android.things"/>

        <service android:name=".rainbowhat.TemperaturePressureService">
        </service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.IOT_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.epam.opencv.detector.face.ui.FaceDetectionActivity"/>
        <activity
            android:name="com.tzutalin.dlibtest.DlibMainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"/>
        <activity
            android:name="com.tzutalin.dlibtest.CameraActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.example.android.camera2basic.CameraActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:exported="true"/>
        <activity android:name=".facerecognition.FaceRecognitionActivity"/>
    </application>

</manifest>